[Unit]
Description=Laravel Scheduler Timer
Requires=laravel-scheduler.service

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true

[Install]
WantedBy=timers.target